<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>생명체 만들기</title>
</head>
<body>
    <header>
        <h1>연성하기</h1>
    </header>
    <section id="animal-form-container">
        <form id="animal-form">
            <label>이름 : <input id="animal-name"></label>
            <label>설명 : <textarea id="animal-desc"></textarea></label>
            <button>생성</button>
        </form>
    </section>
    <section id="animal-list">

    </section>
    <script>

    </script>
</body>
</html>